h1 {
  color: #ca1010;
  font-size: 80px;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;

}

h3 {
  color: hsl(180, 20%, 97%);
  font-size: 40px;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

p {
  color: aliceblue;
}

body {
  background-color: black;
  background-image: url(C:/Users/hp/Desktop/Decor/backrobo.jpg);
  background-size: 1000px 700px;
  background-position: 11cm 3cm;
  background-repeat: no-repeat;

}

.design1 {
  display: inline-block;
  border-radius: 1cm;
  width: 30%;
  border: none;
  background-color: #ca1010;
  color: white;
  padding: 14px 28px;
  margin-top: 3cm;
  margin-left: 4cm;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.design1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}

.design1 span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.design1:hover span {
  padding-right: 35px;
}

.design1:hover span:after {
  opacity: 1;
  right: 50;
}

.design2 {
  display: inline-block;
  border-radius: 1cm;
  width: 30%;
  border: none;
  background-color: #ca1010;
  color: white;
  padding: 14px 28px;
  margin-left: 4cm;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.design2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}

.design2 span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.design2:hover span {
  padding-right: 35px;
}

.design2:hover span:after {
  opacity: 1;
  right: 50;
}

.design3 {
  display: inline-block;
  border-radius: 1cm;
  width: 30%;
  border: none;
  background-color: #ca1010;
  color: white;
  padding: 14px 28px;
  margin-left: 4cm;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.design3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}

.design3 span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.design3:hover span {
  padding-right: 35px;
}

.design3:hover span:after {
  opacity: 1;
  right: 50;
}

.btn {
  background-color: #ca1010;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.btn:hover {
  background-color: RoyalBlue;
}

.icons {
  margin-left: 33cm;
  margin-top: -1.6cm;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}